﻿@import url(../../Fonts/font.css);
.booking-wrapper {
    width: 80%;
    height: auto;
    background-color: var(--color-blue);
    border-radius: 30px;
    z-index: 16;
    display: block;
    margin: auto;
    position: absolute;
    top: -320px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); /* Thêm hiệu ứng đổ bóng */
}


.ticket_booking {
    text-align: center;
    font-family: Inter;
    line-height: 1.5;
}

.booking-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.booking-header div {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px 15px 0 0;
    transition: background 0.3s, color 0.3s;
}

.booking-header div.active {
    background: #ffffff;
    color: var(--color-blue);
    font-weight: bold;
}

.booking-checkbox-wrapper {
    display: flex;
    z-index: 10;
    align-items: center;
}

.flight_one_way {
    margin-right: 15px;
}

.option_label {
    display: flex;
    padding-left: 10px; /* Tạo khoảng cách giữa radio button và label text */
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
}

.option_label input[type="radio"] {
    width: 24px;
    height: 24px;
    position: relative;
    outline: none;
    border: none;
}

.option_label span {
    margin-left: 10px;
    line-height: 18px;
    font-size: 18px !important;
    font-family: "ui-monospace";
    font-style:italic;
    font-weight: bold;
    color: #667085;
}

.booking-body {
    background-color: #fff;
    padding: 10px;
}

.d-flex {
    display: flex;
}

.border-booking {
    border: 1px solid #9A9C9E;
    border-radius: 10px;
}

.booking-body-details {
    min-height: 100px;
}

.booking-time {
    margin-left: 7px;
}

.booking-location-time {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
}

.booking-border-left {
    border-left: 1px solid #9A9C9E;
}

.booking-border-left-half {
    position: relative;
    padding-left: 20px;
}

.booking-border-left-half::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px; 
    height: 60%; 
    background-color: #9A9C9E;
}


.airport-name-day {
    font-weight: 400;
    font-size: 13px;
}

.booking-body-text-color {
    color: #9A9C9E;
    margin-left: 13px;
    margin-top: 7px;
}

.notUp {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333333;
    line-height: 1.05;
    font-size: 20px;
    font-family: ui-monospace;
    font-weight: 600;
    position: absolute;
}

.Up {
    line-height: 1.05;
    font-size: 15px;
    font-family: Inter;
    top: 10%;
    left: 10%;
    font-weight: 400;
    position: absolute;
}

.input-main {
    padding: 0;
    height: 100%;
    position: relative;
    border-radius: 4px;
    width: 100%;
    color: #333333;
    cursor: text;
    position: relative;
    flex-direction: column;
    display: inline-flex;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: ui-monospace;
    line-height: 1.1875em;
}

.input-main input {
    color: #333333;
    padding: 0 !important;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 14px;
    text-align: left;
    font-weight: bold;
    line-height: 17.9px;
    width: 100%;
    text-overflow: ellipsis;
    border: 0;
    outline: none;
    background: none;
    font-family: ui-monospace;
}

.hiden {
    display: none
}

.button_container {
    margin: 12px auto;
    text-align: center;
}

.custom-button {
    font-size: 14px !important;
    background-color: #E6B441;
    color: #000000;
}

.calendar_wrapper_up {
    padding: 1px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    z-index: 100000;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    top: 195px;
}

.calendar_wrapper_down {
    padding: 1px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    z-index: 100000;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    top: 195px;
}

.List_Countries_Wrapper {
    background: #ffffff;
    margin-top: 15px;
    position: absolute;
    top: 73px;
    max-height: 500px;
    width: 160%;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    left: 12px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    padding: 5px;
    border-radius: 10px;
    z-index: 20;
}

    .List_Countries_Wrapper:hover {
        cursor: pointer;
    }
