.navbar-login {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar-login a {
    color: var(--color-blue);
    text-decoration: none;
    text-transform: capitalize;
}

.navbar-login div {
    width: 1px;
    height: 30px;
    background-color: var(--color-primary);
    margin: 0 1rem;
}

.navbar-smallscreen {
    display: none;
}

.header-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    width: 50%;
}

.box-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px 20px;
    border-radius: 8px;
}

.refx-title {
    color: #ff0018;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
