﻿@import url(../../Fonts/font.css);
.seat-paper {
    padding: 20px;
    text-align: center;
    margin-top: 15px;
}

.plane-wrapper {
    display: flex;
    margin-top: 20px;
}

.plane-body {
    background-color: #f3f5f8;
    height: 251px;
    width: 70%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    padding: 15px;
    padding-top: 32px;
}

.test {
    width: 60px;
    height: 60px;
    background-color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
}

.rounded-triangle {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 40px solid #666; /* Màu nền phần đầu máy bay */
    border-radius: 0 50% 50% 0;
    position: absolute;
    top: 0;
    left: 0;
}

.seat-item {
    width: 37px;
    height: 30px;
    background-color: #ffffff;
    border: 2px solid #333;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .seat-item {
        max-width: 25px; /* Giảm kích thước ghế trên màn hình nhỏ */
        aspect-ratio: 4 / 3;
    }
}

/* Responsive cho màn hình rất nhỏ (mobile) */
@media (max-width: 480px) {
    .seat-item {
        max-width: 15px; /* Giảm kích thước hơn trên điện thoại */
        aspect-ratio: 4 / 3;
    }
}

.seat-item.active {
    background-color: #4CAF50;
    color: white;
    border-color: #388E3C;
}

.seat-item:hover {
    background-color: #ddd;
}

.seat-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

/* Cột ghế */
.seat-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
    
.business-seat {
    background-color: #ff6600 ; /* Màu khác cho hạng ghế 1 */
    color: white;
    font-weight: bold;
}

.seat-legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.legend-box {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.normal-seat {
    border: 2px solid #333;
}

.business-seat {
    background-color: #ff6600; 
    border: 2px solid #333;
    color: white;
}

.selected-seat {
    background-color: #ffcc00 !important; 
    border: 2px solid #d4a100;
}
